.containerTech {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tech1 {
  margin: 55px;
  animation: blink 5s ease infinite;
  overflow: hidden;
}
.tech2 {
  margin: 55px;
  animation: blink 3s ease-in-out infinite;
  overflow: hidden;
}

@keyframes blink {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
